body {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 849px;
    /* UI Properties */
    background: var(--unnamed-color-3d087b) 0% 0% no-repeat padding-box;
    background: #3D087B 0% 0% no-repeat padding-box;
    opacity: 1;
}

.clock {
    /* Layout Properties */
    top: 50px;
    left: 124px;
    width: 400px;
    height: 77px;
    /* UI Properties */
    background: transparent url('./clock.png') 0% 0% no-repeat padding-box;

    opacity: 1;
    position: absolute;
}

.main1 {
    /* Layout Properties */
    top: 42px;
    left: 706px;
    width: 536px;
    height: 130px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
}

.TIME {
    /* Layout Properties */
    padding: 45px;
    top: 10px;
    left: -28px;
    width: 46px;
    height: 26px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/32px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
    position: relative;
}

.hour {
    /* Layout Properties */
    top: 55px;
    left: 823px;
    width: 80px;
    height: 90px;
    /* UI Properties */
    background: transparent url('./timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.hour10 {

    padding: 10px;
    top: 67px;
    left: 847px;
    width: 33px;
    height: 43px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8a11bf);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8A11BF;
    opacity: 1;

}

.hours {
    /* Layout Properties */
    padding: 5px;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-23)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5f0089);
    text-align: left;
    font: normal normal normal 23px/28px Barlow;
    letter-spacing: 0px;
    color: #5F0089;
    opacity: 1;
}

.colon {
    left: 85px;
    bottom: 25px;
    position: absolute;
}

.min {
    /* Layout Properties */
    top: -63px;
    left: 100px;
    width: 82px;
    height: 90px;

    /* UI Properties */
    background: transparent url('./timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.sec {
    /* Layout Properties */
    top: -63px;
    left: 100px;
    width: 82px;
    height: 90px;
    /* UI Properties */
    background: var(--unnamed-color-f6e2ff) 0% 0% no-repeat padding-box;
    background: #F6E2FF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    position: relative;
}

.AM {
    top: -63px;
    left: 90px;
    width: 82px;
    height: 90px;
    /* UI Properties */
    background: transparent url('./am.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.am {
    /* Layout Properties */
    top: 20px;
    left: 15px;
    width: 82px;
    height: 90px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
}

.firstshadow {
    top: 10px;
    left: 70px;
    width: 416px;
    height: 130px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
    position: absolute;
}

.secondshadow {
    /* Layout Properties */
    top: 20px;
    left: 70px;
    width: 416px;
    height: 130px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
    position: absolute;
}

.healthy {
    /* Layout Properties */
    top: 150px;
    left: -125px;
    width: 550px;
    height: 118px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
}

.heal {

    /* Layout Properties */
    top: 35px;
    left: 10px;
    width: 492px;
    height: 60px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-30)/40px var(--unnamed-font-family-bauhaus-hv-bt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8e53f0);
    text-align: left;
    font: normal normal 900 30px/40px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #8E53F0;
    text-transform: uppercase;
    opacity: 1;
    font-style: oblique;
    position: relative;
}

.woman {
    /* Layout Properties */
    border-radius: 5px;
    top: 130px;
    left: -130px;
    width: 550px;
    height: 400px;
    /* UI Properties */
    background: transparent url('./woman2.jpeg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}







.flex-container {
    /* Layout Properties */
    top: 100px;
    left: -750px;
    width: 566px;
    height: 363px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
}

img {
    /* Layout Properties */
    top: 20px;
    left: 20px;
    width: 34px;
    height: 34px;
    /* UI Properties */
    opacity: 1;
    position: absolute;
}

.wake {
    /* Layout Properties */
    top: 25px;
    left: 70px;
    width: 141px;
    height: 23px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    position: absolute;
}





.select-box{
    top: 0px;
    left: 180px;
    width: 300px;
    position: absolute;
}


.select-box select{
height: 42px;
padding: 10px 15px;
line-height: 22px;
font-size: 16px;
width: 100%;
border: 1px solid #ccc;

}













.line1 {
    top: 40px;
    left: -214px;
    height: 34px;
    border-left: 2px solid #858585;
    height: 40px;

    opacity: 0.5;
    position: absolute;
}


.img2 {
    /* Layout Properties */
    top: 50px;
    left: -70px;
    width: 34px;
    height: 34px;
    /* UI Properties */
    background: transparent url('img/lunch_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.lunch {

    /* Layout Properties */
    top: 100px;
    left: 0px;
    width: 119px;
    height: 23px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    position: absolute;

}








.img3 {
    /* Layout Properties */
    top: 70px;
    left: -70px;
    width: 34px;
    height: 34px;
    /* UI Properties */
    background: transparent url('img/nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}




.night {
    /* Layout Properties */
    top: 90px;
    left: 0px;
    width: 119px;
    height: 23px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    position: absolute;
}





.set {
    /* Layout Properties */
    top: 150px;
    left: -250px;
    width: 299px;
    height: 50px;
    /* UI Properties */
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    position: absolute;
}



.alarm {
    top: 10px;
    left: 100px;
    width: 111px;
    height: 31px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.alarm:hover {
    font-size: 0;
}

.alarm:hover:after {
    content: attr(data-hover);
    /* Layout Properties */
    top: 100px;
    left: 211px;
    width: 125px;
    height: 31px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}


.next {
    /* Layout Properties */
    top: 150px;
    left: 60px;
    width: 253px;
    height: 117px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #f3dcdc 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
    position: absolute;
}

.next1 {
    /* Layout Properties */
    top: 625px;
    left: 449px;
    width: 200px;
    height: 94px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 15px/25px Manrope;
    letter-spacing: 0px;
    color: #120213;
    opacity: 1;
}

.bigbox {
    top: 60px;
    left: -250px;
    width: 566px;
    height: 77px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #f3dcdc 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
    position: absolute;
}


.white {

    top: 10px;
    left: 20px;
    width: 381px;
    height: 34px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) 27px/34px var(--unnamed-font-family-bauhaus-hv-bt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #120213;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}